.item-automatic-bonus-dnd5e-item-durability-tab .sheet-body .hp {
  flex: 2;
  align-items: center;
}
.item-automatic-bonus-dnd5e-item-durability-tab .sheet-body .hp .current,
.item-automatic-bonus-dnd5e-item-durability-tab .sheet-body .hp .max {
  flex: 0 0 40px;
  text-align: center;
}
.item-automatic-bonus-dnd5e-item-durability-tab .sheet-body .hp .bar-container {
  background: #111;
  height: 20px;
  padding: 1px;
  border: 1px solid #000;
  border-radius: 6px;
}
.item-automatic-bonus-dnd5e-item-durability-tab .sheet-body .hp .bar {
  height: 16px;
  border-radius: 4px;
}
.item-automatic-bonus-dnd5e-item-durability-tab .sheet-body .controls {
  flex: 0 0 64px;
  text-align: right;
}

.item-automatic-bonus-dnd5e-item-durability-tab .sheet-body .item .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: cover;
  background-position: 50% 0;
  border: none;
  margin-right: 5px;
}

/* 
.item-automatic-bonus-dnd5e-item-durability-tab .sheet-body .item .item-name {
  color: #191813;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
} 
*/

.item-automatic-bonus-dnd5e-item-durability-tab .sheet-body .table .tr .td {
  text-align: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
}
